.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #a1a5a6;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 2px solid white;
}

.navbar-container .navbar-logo {
  margin-left: 50px;
}

.navbar-container .navbar-toggle {
  visibility: hidden;
}

.navbar-container .navbar-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.navbar-container .navbar-menu-container .navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-container .navbar-menu-container .navbar-menu li {
  margin-right: 35px;
}

.navbar-container .navbar-menu-container .navbar-menu a {
  font-family: "Young", sans-serif;
  color: #FDFDFD;
}

@media (max-width: 768px) {
  .navbar-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-container .navbar-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar-container .navbar-logo .navbar-toggle {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    -ms-flex-item-align: center;
        align-self: center;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 25px;
  }
  .navbar-container .navbar-menu-container {
    display: none;
  }
  .navbar-container .navbar-menu-container .navbar-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  background-color: #a1a5a6;
  position: fixed;
  bottom: 0;
}

.footer-container .footer-logo img {
  width: 272px;
  height: 154px;
  opacity: 1;
}

.footer-container .footer-info {
  font-family: "Young", sans-serif;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: black;
  color: #FDFDFD;
  text-align: center;
  letter-spacing: 0px;
  opacity: 1;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer-container .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer-container .footer-social img {
  margin-right: 20px;
  height: 20px;
}

.footer-container .footer-social p {
  font-family: "Young", sans-serif;
  color: black;
  color: #FDFDFD;
  text-align: left;
  letter-spacing: 0px;
  opacity: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 10px;
  margin-right: 20px;
}

@media (max-width: 660px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-container .footer-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100px;
    margin-bottom: 20px;
  }
  .footer-container .footer-info {
    margin-bottom: 20px;
  }
  .footer-container .footer-social {
    margin-bottom: 10px;
  }
}

* {
  margin: 0%;
  padding: 0%;
}

body ul li {
  list-style: none;
}

body ul li a {
  text-decoration: none;
}
