
.navbar-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: sticky;
    background-color: rgba(53,61,64,1) ;
    top: 0;
    border-bottom: 1px solid white;
    .navbar-logo{
        a{
            text-decoration: none;
        }
        margin-left: 50px;
    }
    .navbar-toggle{
        display: none;
    }

    .navbar-menu-container{
        display: flex;
        align-self: center;
        margin-top: 30px;

        .navbar-menu{
            display: flex;
            li{
                margin-right: 35px;
            }
            .navbar-links{
                font-family: $font;
                color: $fontcolor;
                font-size: 15px;
                &:hover{
                    color: $naranja;
                }
            }
            .current{
                font-family: $font;
                color: $naranja;
                font-size: 15px;
                &:hover{
                    color: $naranja;
                }
            }

        }
    }
}



@media screen and (max-width: 768px) {
    .navbar-container{
        display: flex;
        flex-direction: column;
        .navbar-logo{
            display: flex;
            justify-content: center;
            .navbar-toggle{
                display: inline-flex;
                height: 50px;
                align-self: center;
                background-color: transparent;
                border: none;
                position: absolute;
                right: 25px;
            }
        }
        .navbar-menu-container{
            position: fixed;
            display: none;
            .navbar-menu{
                flex-direction: column;
            }
        }
    }
}