// FONT
$font: 'Young', sans-serif;
$fontcolor: #FDFDFD;

// COLOR PALET
$naranja: #F2B138;
$azul: #003F63;
$gris: #a1a5a6;
$grisclaro: #D9D9D9;
$grisoscuro: #353D40;

// DEGRADE
$degrade: linear-gradient(0deg, rgba(161,165,166,1) 0%, rgba(53,61,64,1) 100%);

                                                