.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  background-color: #353d40;
  top: 0;
  border-bottom: 1px solid white;
  z-index: 10;
}

.navbar-container .navbar-logo {
  margin-left: 50px;
}

.navbar-container .navbar-logo a {
  text-decoration: none;
}

.navbar-container .checkbtn {
  font-size: 30px;
  color: white;
  position: absolute;
  right: 30px;
  top: 20px;
  display: none;
  cursor: pointer;
}

.navbar-container #check {
  display: none;
}

.navbar-container .navbar-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 30px;
  position: relative;
  z-index: 10;
}

.navbar-container .navbar-menu-container .navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-container .navbar-menu-container .navbar-menu li {
  margin-right: 35px;
}

.navbar-container .navbar-menu-container .navbar-menu .navbar-links {
  font-family: "Young", sans-serif;
  color: #FDFDFD;
  font-size: 15px;
}

.navbar-container .navbar-menu-container .navbar-menu .navbar-links:hover {
  color: #F2B138;
}

.navbar-container .navbar-menu-container .navbar-menu .current {
  font-family: "Young", sans-serif;
  color: #F2B138;
  font-size: 15px;
}

.navbar-container .navbar-menu-container .navbar-menu .current:hover {
  color: #F2B138;
}

@media screen and (max-width: 768px) {
  .navbar-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-container .navbar-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar-container .checkbtn {
    display: block;
  }
  .navbar-container .navbar-menu-container {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 50px;
    top: 65px;
    left: -100%;
    height: 100vh;
    width: 100%;
    background-color: #003F63;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .navbar-container .navbar-menu-container .navbar-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-container .navbar-menu-container .navbar-menu li {
    margin-bottom: 20px;
  }
  .navbar-container .navbar-menu-container .navbar-menu .navbar-links {
    font-size: 20px;
  }
  .navbar-container #check:checked + .navbar-menu-container {
    left: 0;
    z-index: 10;
  }
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  position: relative;
  bottom: 0;
  border-top: 1px solid white;
}

.footer-container .footer-logo img {
  height: 90px;
  opacity: 1;
}

.footer-container .footer-info {
  font-family: "Young", sans-serif;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: black;
  color: #FDFDFD;
  text-align: center;
  letter-spacing: 0px;
  opacity: 1;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer-container .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer-container .footer-social img {
  margin-right: 20px;
  height: 20px;
}

.footer-container .footer-social p {
  font-family: "Young", sans-serif;
  color: black;
  color: #FDFDFD;
  text-align: left;
  letter-spacing: 0px;
  opacity: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 10px;
  margin-right: 20px;
}

@media (max-width: 660px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-container .footer-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100px;
    margin-bottom: 20px;
  }
  .footer-container .footer-info {
    margin-bottom: 20px;
  }
  .footer-container .footer-social {
    margin-bottom: 10px;
  }
}

.main-redireccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Young", sans-serif;
  margin: 15px 15px 0 15px;
}

.main-redireccion svg {
  color: #353D40;
}

.main-redireccion svg:hover {
  color: #F2B138;
}

.main-redireccion .main-redireccion-text {
  color: white;
  padding-left: 10px;
  padding-top: 3px;
}

.main-container {
  font-family: "Young", sans-serif;
  color: #FDFDFD;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "in put";
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 30px;
}

.main-container .main-texts {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: in;
}

.main-container .main-texts .main-h2 {
  font-size: 25px;
}

.main-container .main-texts .main-parrafo {
  padding-top: 30px;
}

.main-container .main-texts .main-parrafo p {
  padding: 10px 0 10px 0;
}

.main-container .main-input {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: put;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .main-input h2 {
  color: #F2B138;
  text-align: center;
  padding: 30px 0 30px 0;
}

.main-container .main-input .main-form-general {
  position: relative;
}

.main-container .main-input .main-form-general .main-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
}

.main-container .main-input .main-form-general .main-form label {
  padding: 15px 0 30px 0;
}

.main-container .main-input .main-form-general .main-form input, .main-container .main-input .main-form-general .main-form textarea {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
}

.main-container .main-input .main-form-general .main-form button {
  background: #a1a5a6;
  color: white;
  width: 150px;
  height: 30px;
  border-radius: 8px;
  border: none;
  -webkit-box-shadow: 0px 6px 6px #00000029;
          box-shadow: 0px 6px 6px #00000029;
}

.main-container .main-input .main-form-general .main-form button:hover {
  background: #F2B138;
}

.main-container .main-input .main-form-general .main-ventana {
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  pointer-events: none;
}

.main-container .main-input .main-form-general .main-ventana .main-ventana-textos h3 {
  padding: 10px 0 100px 0;
}

.main-container .main-input .main-form-general .show {
  pointer-events: auto;
  opacity: 1;
  position: relative;
  -webkit-transition: 2s;
  transition: 2s;
}

.prueba {
  height: 1000px;
}

.prueba {
  height: 1000px;
}

.icono {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 40px;
  margin-left: 160px;
  color: #FDFDFD;
  font-family: "Young", sans-serif;
  font-size: 12px;
}

.icono i {
  font-size: 25px;
  padding-right: 10px;
  color: #353D40;
  cursor: pointer;
}

.icono i:hover {
  color: #F2B138;
}

.icono p {
  margin-top: 5px;
}

.icono p a {
  color: #FDFDFD;
  text-decoration: none;
}

.proyectos-title {
  text-transform: uppercase;
  color: #FDFDFD;
  margin-left: 200px;
  font-family: "Young", sans-serif;
  margin-top: 60px;
}

.proyectos-subtitle {
  color: #FDFDFD;
  margin-left: 200px;
  font-family: "Young", sans-serif;
  margin-top: 40px;
  font-size: 15px;
}

.proyectos-cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 50px;
  margin-top: 80px;
}

.proyecto-cards {
  margin-bottom: 80px;
  margin-right: 30px;
  height: 300px;
  width: 300px;
  background-image: url(/IMG/cuadriculafotos.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px;
}

.proyecto-cards a {
  text-decoration: none;
  z-index: -10;
}

.proyecto-cards a .proyecto-image {
  height: 256px;
  width: 254px;
  margin-left: 23px;
  margin-top: 21px;
  position: relative;
}

.proyecto-cards a .proyecto-image:hover {
  opacity: 0.3;
}

.proyecto-cards a .proyecto-image:hover + .info-hover {
  display: block;
  opacity: 1;
}

.proyecto-cards a .info-hover {
  display: none;
  position: absolute;
  margin-top: -220px;
  margin-left: 50px;
  font-family: "Young", sans-serif;
  color: #FDFDFD;
  z-index: -1;
}

.proyecto-cards a .info-hover:hover {
  display: block;
}

.proyecto-cards a .info-hover:hover + .proyecto-image {
  opacity: 0.3;
}

.proyecto-cards a .info-hover h3 {
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 0;
}

.proyecto-cards a .info-hover p {
  font-size: 15px;
  margin-bottom: 0;
}

.proyecto-cards a .info-hover .arrow {
  position: absolute;
  color: #F2B138;
  margin-left: 200px;
  margin-top: 80px;
}

.proyectos-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: "Young", sans-serif;
  color: #FDFDFD;
  font-size: 12px;
  margin-top: 40px;
}

.proyectos-details b {
  font-size: 14px;
  margin-right: 10px;
}

.proyecto-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.proyecto-info .proyecto-info-image {
  margin-bottom: 80px;
  margin-left: 120px;
  margin-right: 30px;
}

.proyecto-info .proyecto-info-image img {
  height: 300px;
  margin-left: 35px;
  margin-top: 10px;
  position: relative;
}

.proyecto-info .proyecto-info-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 120px;
  margin-right: 150px;
  font-family: "Young", sans-serif;
  color: #FDFDFD;
  margin-top: 80px;
}

.proyecto-info .proyecto-info-description b {
  margin-bottom: 20px;
}

.proyecto-info .proyecto-info-description i {
  position: absolute;
  color: #353D40;
  bottom: 50px;
  left: 60%;
  font-size: 25px;
}

.container-pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-pictures .before-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container-pictures .before-container img {
  height: 300px;
}

* {
  margin: 0%;
  padding: 0%;
}

html, body {
  min-height: 100%;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#353d40), to(#a1a5a6));
  background: linear-gradient(#353d40, #a1a5a6);
  margin: 0px !important;
}

body ul li {
  list-style: none;
}

body ul li a {
  text-decoration: none;
}
